.note-list {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 2rem;

  .note-list-title {
    margin: 0;
  }
  .note-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 300px;
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    h4 {
      text-transform: capitalize;
      font-size: 1.5rem;
      margin: 0;
      text-align: left;
    }
    p {
      margin: 0;
    }
    .body {
      text-align: center;
      font-size: 1.2rem;
    }
    .bottom {
      display: flex;
      justify-content: space-around;
    }
  }
}
