@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --color-primary: #084c61;
  --color-tertiary: #e3b505;
  --color-secondary: #56a3a6;

  --navbar-height: 60px;
}
body,
html {
  height: 100vh;
  margin: 0;
}
